footer {
    background: $background-color;
    color: white;
    min-height: 10vh;
    padding: 0% 5%;
    @include flex(center, center, row);

    ul {
        flex: 1 1 40rem;
        @include flex(space-around, center, row);
    }

    h4 {
        flex: 1 1 40rem;
    }
}
