/*  Global Styles  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Global Elements */

h1 {
    font-size: $header1;
}

li,
button,
label,
input,
p,
a {
    font-size: $text;
}

h2 {
    font-size: $header2;
}

h3 {
    font-size: $header3;
    font-weight: normal;
}

h4,
h5 {
    font-size: $header4;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $gray-text;
}