/*  Global Styles  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Global Elements */

h1 {
    font-size: 2.6rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 2rem 6rem;
    background: #4c6e97;
    border: none;
    border-radius: 0.3rem;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.25s ease-in-out;
}

button:hover {
    background: #27394e;
}

button:focus {
    background: #27394e;
    outline-style: solid;
}

/*  Navigation Section  */

.main-head {
    background: #131c27;
    color: white;
}

nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    min-height: 10vh;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo {
    flex: 2 1 40rem;
    font-family: "Pattaya", sans-serif;
    font-weight: normal;
    pointer-events: none;
}

/*  Hero Section  */

.hero {
    min-height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent),
        url("./img/landing-page.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    width: 90%;
}

.hero h3 {
    padding: 5rem;
}

/*  Locations Section  */

#locations {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
        url("./img/new-york-page.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.locations-head {
    width: 90%;
    margin: auto;
}

.locations-head h2 {
    padding: 1rem 0rem;
    text-decoration: underline;
    text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
    padding: 4rem 0rem;
    background: linear-gradient(#131c27, #663b34);
    background-clip: text;
    color: transparent;
}

/*  Clouds  */

.cloud {
    position: absolute;
    top: 0%;
    right: 0%;
    pointer-events: none;
}

.moving-cloud-1 {
    animation: cloudAnimation 3s infinite alternate ease-in-out;
}

.moving-cloud-2 {
    animation: cloudAnimation 3.5s infinite alternate ease-in-out;
    top: 15%;
    z-index: -1;
    opacity: 0.5;
}

@keyframes cloudAnimation {
    from {
        transform: translate(10%, -10%);
    }

    to {
        transform: translate(0%, 0%);
    }
}

/*  Benefits Section  */

.benefits-head {
    background: #343c44;
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.benefits-head h3 {
    padding: 1rem;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}

.cards img {
    max-width: 15%;
    margin: 2rem;
}

.card {
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1),
        0px 20px 20px rgba(0, 0, 0, 0.1);
}

.card h4,
.card p {
    padding: 2rem;
}

.card-icon {
    background: #4c6e97;
    padding: 1rem 2rem;
}

/*  Contacts Section  */
#contact {
    min-height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
        url("./img/contact-mountain.png");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    background: rgba(19, 28, 39, 0.8);
    width: 60%;
    color: white;
    border-radius: 2rem;
    overflow: hidden;
}

.form-head {
    text-align: center;
    padding: 4rem;
}

.name-form,
.email-form {
    padding: 3rem;
    text-align: center;
}

.form-wrapper label {
    margin: 0rem 3rem;
}

.form-wrapper button {
    width: 100%;
    padding: 2rem;
    margin-top: 8rem;
}

.form-wrapper input {
    padding: 1rem;
    width: 30vw;
}

/*  Footer Section  */

footer {
    color: white;
    background: rgba(19, 28, 39, 1);
}

footer ul {
    list-style: none;
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
}

footer h5 {
    flex: 1 1 40rem;
}

.footer-wrapper {
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
}

/*  Media Queries  */

@media screen and (max-width: 1200px) {
    .cloud {
        height: 50rem;
    }

    .moving-cloud-2 {
        top: 10%;
    }

    .locations-head h3 {
        background: rgba(19, 28, 39, 0.9);
        -webkit-text-fill-color: white;
        padding: 4rem 2rem;
    }
}

@media screen and (max-width: 932px) {
    nav {
        text-align: center;
    }

    #logo {
        padding: 1rem 0 2rem 0;
    }

    .cloud {
        height: 40rem;
    }

    .moving-cloud-1 {
        z-index: -1;
    }

    .moving-cloud-2 {
        top: 10%;
        z-index: -2;
    }

    .form-wrapper {
        width: 90vw;
    }

    .form-wrapper input {
        margin: 2rem 0rem;
        width: 100%;
    }

    footer {
        text-align: center;
    }

    footer h5 {
        padding-bottom: 3rem;
    }
}

@media screen and (max-width: 550px) {
    html {
        font-size: 45%;
    }
}
